html {
  font-size: 28px;
}

#qa { 
  font-family: Arial Greek, Arial;
}

img {
  max-width: 85%;
  max-height: 100%;
}

ul, ol {
  padding-left: 1rem;
  display: inline-block;
  max-width: 50%;
  margin: auto;
  text-align: left;
}

.card {
  color: #FFFAFA;
  text-align: center;
  height: 100%;
  margin: 1rem 0rem 1rem 0rem;
  flex-grow: 1;
}

.question {
  font-size: 1rem;
}

.cloze {
  color: #4297F9;
  font-weight: bold;
}

.divider {
  opacity: 0.05;
}

.additional {
	font-style: italic;
  font-size: 0.85rem;
}

.extra {
  color: magenta;
	padding-top: 0.5rem;
}

.hints {
  color: cyan;
	margin: 1rem 0rem 0.5rem 0rem;
}

.hint {
	margin-bottom: 0rem;
}

.button-general {
  text-align: center;
  display: inline-block;
  background-color: #424242;
  color: #AFAFAF !important;
	padding: 1px 6px !important;
}

.button-general:hover {
  background-color: #E9E9E9 !important;
  color: #363638 !important;
}

.expanded-button {
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  width: 50% !important;
  background: #ababab !important;
  color: black !important;
  font-weight: bold;
}
